[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
allennlp = "*"
allennlp-models = "*"
python-json-logger = "*"
psycopg2-binary = "*"
aiohttp = "*"
prometheus-client = "*"

[dev-packages]

[requires]
python_version = "3.7"
